# python.exe -m pip install --upgrade pip
# python version == 3.11.0
# pip install -U langchain-community

streamlit
sentence_transformers
streamlit_chat
langchain-community
numpy==1.25.1
openai
pysqlite3
pypdf
chromadb
tiktoken
unstructured